webServvicesSoapClientcSharp/webServvicesSoapClientcSharp/Connected Services/Service/BWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service/" targetNamespace="http://service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="compte" type="tns:compte" />
  <xs:element name="conversionEuroToDirham" type="tns:conversionEuroToDirham" />
  <xs:element name="conversionEuroToDirhamResponse" type="tns:conversionEuroToDirhamResponse" />
  <xs:element name="getCompte" type="tns:getCompte" />
  <xs:element name="getCompteResponse" type="tns:getCompteResponse" />
  <xs:element name="getComptes" type="tns:getComptes" />
  <xs:element name="getComptesResponse" type="tns:getComptesResponse" />
  <xs:complexType name="getCompte">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCompteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:compte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compte">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:long" />
      <xs:element name="solde" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComptes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getComptesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:compte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conversionEuroToDirham">
    <xs:sequence>
      <xs:element name="montant" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conversionEuroToDirhamResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>